@tailwind base;
@tailwind components;
@tailwind utilities;

$background_color: #2B2B2B;

[x-cloak] {
    display: none;
}

body {
    background-color: $background_color;
}

.navbar{
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent background */
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

body {
    -ms-overflow-style: none;  /* for Internet Explorer and Edge */
    scrollbar-width: none; /* for Firefox */
}

body:after {
    display: none;
}

@keyframes foreboding-pulse-opacity {
    0% {
        opacity: 0.05;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.15;
    }
    30% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.27;
    }
    50% {
        opacity: 0.35;
    }
    60% {
        opacity: 0.42;
    }
    70% {
        opacity: 0.42;
    }
    80% {
        opacity: 0.35;
    }
    90% {
        opacity: 0.12;
    }
    100% {
        opacity: 0.05;
    }
}

.bg-pulse-opacity {
    animation: foreboding-pulse-opacity 15s infinite;
}

.list-number{
    background-color: #fde047;
    color: #111827;
    text-align: center;
    border-radius: 100%;
    flex: none;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1.375rem;
    padding-top: .25rem;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1;
    display: flex;
}

.typed-cursor {
    display: hidden;
}

.typed-socials {
    opacity: 0; /* Initially hidden */
    transition: opacity 1s ease-in-out; /* Smooth fade-in transition */
} 

.typed-socials.fade-in {
    opacity: 1; /* Fully visible */
}