@tailwind base;
@tailwind components;
@tailwind utilities;

// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/css?family=League+Spartan:300,400,500,600,700);

@font-face {
    font-family: "Bell MT";
    src: url('/assets/fonts/Bell-MT/Bell-MT.woff2') format('woff2'),
       url('/assets/fonts/Bell-MT/Bell-MT.woff') format('woff'),
        url('/assets/fonts/Bell-MT/Bell-MT.ttf') format('ttf');
    // src: url('https://cdn1.forshowcase.com/assets/fonts/Dreamscape.woff2') format('woff2'),
    //      url('https://cdn1.forshowcase.com/assets/fonts/Dreamscape.woff') format('woff'),
    //      url('https://cdn1.forshowcase.com/assets/fonts/Dreamscape.ttf') format('ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Irish Grover";
    src: url('/assets/fonts/IrishGrover/IrishGrover.woff2') format('woff2'),
       url('/assets/fonts/IrishGrover/IrishGrover.woff') format('woff'),
        url('/assets/fonts/IrishGrover/IrishGrover.ttf') format('ttf');
    // src: url('https://cdn1.forshowcase.com/assets/fonts/Dreamscape.woff2') format('woff2'),
    //      url('https://cdn1.forshowcase.com/assets/fonts/Dreamscape.woff') format('woff'),
    //      url('https://cdn1.forshowcase.com/assets/fonts/Dreamscape.ttf') format('ttf');
    font-style: normal;
    font-weight: normal;
}



$background_color: #2B2B2B;

[x-cloak] {
    display: none;
}

.svg-icon {
    width: 1em;
    height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #333;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}

body {
    // @apply bg-cream-500
    // background-color: #1F1F2E;
    background-color: $background_color;
}

.navbar{
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent background */
}

// BASE
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

// $default_cursor : url('/storage/assets/partials/cursors/default-purple.png');
// $pointer_cursor : url('/storage/assets/partials/cursors/pointer-green.png');
// $pointer_cursor : url('/storage/assets/partials/cursors/pointer-purple-20.png');

body {
    -ms-overflow-style: none;  /* for Internet Explorer and Edge */
    scrollbar-width: none; /* for Firefox */
    // cursor: $default_cursor, auto !important;
}

// #body{
//     cursor: $default_cursor, auto;
// }

// a, a:hover, a:active, a:focus, button:hover, [role="button"]:hover, .cursor-pointer:hover, .cursor-pointer:active, .cursor-pointer:focus, button:active, button:focus, .sidebar li {
//     cursor: $pointer_cursor, auto !important;
// }

// a::before, a::after, button::before, button::after {
//     cursor: inherit; 
// }

body:after {
    display: none;
}

.button{
    @apply transition duration-300 ease-in-out inline-flex items-center justify-center px-4 py-2 text-sm font-medium rounded-md shadow-sm text-gray-100 border border-transparent focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neongreen-500 bg-neongreen-500 hover:bg-neongreen-700
}

.button{
    @apply transition duration-300 ease-in-out inline-flex items-center justify-center px-4 py-2 text-sm font-medium rounded-md shadow-sm text-gray-100 border border-transparent focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bg-neongreen-500 hover:bg-neongreen-700
}


.black-button{
    @apply transition duration-300 ease-in-out inline-flex items-center justify-center px-4 py-2 text-sm font-medium rounded-md shadow-sm text-gray-100 border border-transparent focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bg-neongreen-500 hover:bg-neongreen-700
}


.admin_sidebar, .left_sidebar{

    .single {
        @apply text-lightgray-500 text-sm font-medium hover:bg-gray-100 hover:text-neongreen-500
    }

    .active{
        @apply bg-gray-100 text-neongreen-500 
    }

    .active .icon{
        @apply text-neongreen-500
    }

    .icon{
        @apply text-graphite-500 group-hover:text-neongreen-500 hover:text-neongreen-500
    }

}

article{
    
    img.lazy {
        opacity: 0;
    }
    
    img:not(.initial) {
        transition: opacity 1s;
    }

    img.initial,img.loaded,img.error {
        opacity: 1;
    }

    img:not([src]) {
        visibility: hidden;
    }
}




.sidebar {

    .green-menu-item{
        background-color: #13261c;
        border-color: #aaf5ce;
        @apply text-white;
        &:hover{
            background-color: darken(#13261c, 5%);
        }
    }

    .blue-menu-item{
        background-color: #1c2632; /* Dark blue */
        border-color: #a3c1f5; /* Light blue */
        @apply text-white;
        &:hover{
            background-color: darken(#1c2632, 5%);
        }
    }
    
    .pink-menu-item{
        background-color: #261c21; /* Dark pink */
        border-color: #f5a3ce; /* Light pink */
        @apply text-white;
        &:hover{
            background-color: darken(#261c21, 5%);
        }
    }
    
    .purple-menu-item{
        background-color: #231c26; /* Dark purple */
        border-color: #d1a3f5; /* Light purple */
        @apply text-white;
        &:hover{
            background-color: darken(#231c26, 5%);
        }
    }

    .red-menu-item{
        background-color: #261c1c; /* Dark red */
        border-color: #f5a3a3; /* Light red */
        @apply text-white;
        &:hover{
            background-color: darken(#261c1c, 5%);
        }
    }

    .deep-red-menu-item{
        background-color: #330000; /* Deep, dark red */
        border-color: #FF6666; /* Soft bright red */
        @apply  text-white;
        &:hover{
            background-color: darken(#330000, 5%);
        }
    }

    .crimson-red-menu-item{
        background-color: #540000; /* Crimson, dark tone */
        border-color: #FF3333; /* Vibrant crimson */
        @apply  text-white;
        &:hover{
            background-color: darken(#540000, 5%);
        }
    }
    
    .burgundy-red-menu-item{
        background-color: #400000; /* Burgundy, very dark red */
        border-color: #800000; /* Classic burgundy */
        @apply text-white;
        &:hover{
            background-color: darken(#400000, 5%);
        }
    }

    .yellow-menu-item{
        background-color: #26231c; /* Dark yellow */
        border-color: #f5e6a3; /* Light yellow */
        @apply  text-white;
        &:hover{
            background-color: darken(#26231c, 5%);
        }
    }
    
    .orange-menu-item{
        background-color: #26221c; /* Dark orange */
        border-color: #f5cda3; /* Light orange */
        @apply  text-white;
        &:hover{
            background-color: darken(#26221c, 5%);
        }
    }

    .teal-menu-item{
        background-color: #1c2624; /* Dark teal */
        border-color: #a3f5ef; /* Light teal */
        @apply  text-white;
        &:hover{
            background-color: darken(#1c2624, 5%);
        }
    }
    
    .cobalt-menu-item{
        background-color: #1c2026; /* Dark cobalt */
        border-color: #a3b6f5; /* Light cobalt */
        @apply  text-white;
        &:hover{
            background-color: darken(#1c2026, 5%);
        }
    }
    

    .icon {
        width: 24px;
        height: 24px;
    }

    a{

        &:hover::after {
            content: "";
            position: absolute;
            // background-color: #333;
            top: 0;
            left: 100%; /* position it at the end of the icon */
            width: 35px; /* this should be equal to your gap width */
            height: 100%; /* make it as tall as your icon */
            z-index: -1; /* optional, to ensure it doesn't block other items */
        }
    }

}



/* Pre-loader CSS */
.page-loader{
    width: 100%;
    height: 100vh;
    position: absolute;
    background: #F4F1DE;
    z-index: 1000;
    .txt{
        color: #E07A5F;
        text-align: center;
        top: 40%;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        font-weight: bold;
        line-height: 1.5;
    }
}

/* Spinner animation */
.spinner {
  position: relative;
  top: 35%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-color: #E07A5F;
  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}


[type='checkbox']:focus, [type='checkbox']:hover {
    color: #E07A5F !important;
}


@keyframes foreboding-pulse-opacity {
    0% {
        opacity: 0.05;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.15;
    }
    30% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.27;
    }
    50% {
        opacity: 0.35;
    }
    60% {
        opacity: 0.42;
    }
    70% {
        opacity: 0.42;
    }
    80% {
        opacity: 0.35;
    }
    90% {
        opacity: 0.12;
    }
    100% {
        opacity: 0.05;
    }
}

.bg-pulse-opacity {
    animation: foreboding-pulse-opacity 15s infinite;
}


.list-number{
    background-color: #fde047;
    color: #111827;
    text-align: center;
    border-radius: 100%;
    flex: none;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1.375rem;
    padding-top: .25rem;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1;
    display: flex;
}